extends ../0_base/template

block pageName
	title Аэлита | Спецпредложения

block content
	include ../1_blocks/offer-item

	+offerItem('Романтическая история', 'offer.html')().offer-item--romantic
		p.
			Хотите незабываемо провести время со второй половинкой?
			Великолепное предложение для влюбленных в апарт-отеле «Аэлита».
		span Адрес: Пятилетки 116А
		span Телефон: 20-20-90

	+offerItem('Выходные в Аэлите', '#')().offer-item--weekend
		p.
			Предложение для тех, кто хочет отвлечься от повседневной суеты 
			и провести время с пользой для себя!
		span Предложение актуально только в пятницу, субботу и воскресенье.

	+offerItem('Скидка 30% с 7 по 11 марта', '#')().offer-item--8-march.offer-item--closed
		p.
			В честь международного женского дня скидка на номера 30%.
			ПРИ БРОНИРОВАНИИ ПО ТЕЛЕФОНУ
		span Адрес: Пятилетки 116А
		span Телефон: 20-20-90