extends ../0_base/template

block pageName
	title Аэлита | Спецпредложение

block content
	include ../1_blocks/page-header
	include ../1_blocks/page-content
	include ../1_blocks/btn-link

	+pageHeader('Романтическая история')().page-header--offer
		p.page-header__text.
			Хотите незабываемо провести время со второй половинкой?
			Великолепное предложение для влюбленных в апарт-отеле «Аэлита».
		span.page-header__subtext.
			Адрес: Пятилетки 116А
		span.page-header__subtext.
			Телефон: 20-20-90

	+pageContent()
		h2.page-content__title.
			Отличное предложение <br>
			для вас и вашей половинки!

		p.page-content__text.
			Апарт-отель «Аэлита» подготовил великолепное предложение для влюбленных. Пакет называется 
			«Романтическая история» и включает в себя всё для незабываемого отдыха. Оформление номера 
			лепестками роз, мерцающими свечами, игристое вино, фруктовая тарелка, поздний выезд, 
			предоставление завтрака в номер в любое удобное время.

		p.page-content__text.
			Мы готовы учесть все ваши пожелания и взять все заботы по организации особого для Вас дня на 
			себя.

		h3.page-content__subtitle.
			В пакет входит: 

		ul.page-content__list
			li.page-content__list-item проживание в номере категории двухкомнатный/трехкомнатный/ Люкс (одни сутки);
			li.page-content__list-item номер и кровать усыпаны лепестками роз;
			li.page-content__list-item мерцающие свечи украшают номер;
			li.page-content__list-item завтрак в постель в любое время;
			li.page-content__list-item поздний выезд до 16:00;
			li.page-content__list-item фруктовая тарелка;
			li.page-content__list-item шампанское и конфеты подарок от отеля;

		.page-content__blockquote
			p.
				Необходимо бронирование номера с данным предложением минимум за 
				сутки до заселения.
			p
				|Подробности можно узнать по телефону +7 (342) 420-20-90 или электронной почте 
				a(href="#") aelita-hotel@ya.ru
				|.

		p.page-content__text.
			Так же вы можете забронировать данную услугу онлайн у нас на сайте, просто нажмите на кнопку 
			расположенную ниже и заполните форму. 

		+btnLink("#", "Забронировать")