section.about-hotel
	.about-hotel__wrapper
		.about-hotel__content
			p.
				Отель прекрасно расположен территориально: 
				рядом торговый центр, остановки, продуктовые 
				магазины, аптеки, банкоматы. Расположение на 
				центральной улице позволяет прогуляться вдоль 
				города.