.book-room
	p.book-room__title.
		Точную стоимость узнавайте по телефонам:

	.book-room__tels
		a.book-room__tel +7 (902) 63 000 66
		a.book-room__tel +7 (342) 420-20-90

	a(href="#").book-room__btn Забронировать