section.contacts-content
	.contacts-content__wrapper
		h2.contacts-content__title Будем рады вас видеть в нашем отеле!

		p.contacts-content__text.
			Позвонив по указанному на сайте телефонам, Вы можете забронировать любой номер, который Вам 
			понравится. На Ваш выбор предоставляются номера различной категории.

		.contacts-content__block
			h3.contacts-content__subtitle Транспорт

			p.contacts-content__text.
				Аэлита расположена не далеко от въезда в жилую часть города и гарантирует своим гостям удобный 
				доступ к транспортной инфраструктуре.

			p.contacts-content__text.
				Рядом находится остановка «Газета Звезда»:

			p.contacts-content__transport-numbers.contacts-content__transport-numbers--bus.
				9а, 14, 17, 18, 25, 30
			p.contacts-content__transport-numbers.contacts-content__transport-numbers--abus.
				5, 7
		
		.contacts-content__block
			h3.contacts-content__subtitle Отдел кадров

			a(href="#").contacts-content__link email: aelita-job@ya.ru
			a.contacts-content__link тел.: 8 (3424) 20 20 90
