nav.menu
	ul.menu__list#menu-header_menu
		li.menu__item
			a(href="index.html").menu__link Главная
		li.menu__item
			a(href="about.html").menu__link Описание отеля
		li.menu__item
			a(href="gallery.html").menu__link Фотогалерея
		li.menu__item
			a(href="offers.html").menu__link Спец. предложения
		li.menu__item
			a(href="#").menu__link Ресторан
		li.menu__item
			a(href="#").menu__link Правила проживания
		li.menu__item
			a(href="contacts.html").menu__link Контакты