.modal-offer
	.modal-offer__container
		.modal-offer__img
			img(src="media/img-p/romantic-img.jpg", alt="")

		.modal-offer__aside
			h2.modal-offer__title.
				Романтическая история

			p.modal-offer__text.
				Хотите незабываемо провести время со второй половинкой?

			ul.modal-offer__list
				li.modal-offer__list-item номер и кровать усыпаны лепестками роз;
				li.modal-offer__list-item мерцающие свечи украшают номер;
				li.modal-offer__list-item завтрак в постель в любое время;
				li.modal-offer__list-item фруктовая тарелка;
				li.modal-offer__list-item шампанское и конфеты подарок от отеля;

			.modal-offer__links
				a(href="#").modal-offer__link.modal-offer__link--bg Подробнее
				a(href="#").modal-offer__link Забронировать

		.modal-offer__btn-close
