.room-price
	mixin priceItem(name, coast)
		.room-price__item
			.room-price__name= name
			.room-price__coast
				p от #{coast} руб/сутки

	+priceItem('Стоимость одноместного размещения', '3700')
	+priceItem('Стоимость двухместного размещения', '3700')
	+priceItem('Стоимость трехместного размещения', '3700')
	+priceItem('Стоимость четырехместного размещения', '3700')
	+priceItem('Стоимость пятиместного размещения', '3700')
	+priceItem('Стоимость шестиместного размещения', '3700')
	+priceItem('В выходные стоимость размещения', '3700')