footer.site-footer
	.site-footer__wrapper.site-footer__top
		.site-footer__logo
			img(src="media/img/site-logo-foo.png", alt="Аэлита логотип")

		.site-footer__menu
			ul.site-footer__menu-list
				li.site-footer__menu-item
					a(href="#").site-footer__menu-link Номера
				li.site-footer__menu-item
					a(href="#").site-footer__menu-link Ресторан 
				li.site-footer__menu-item
					a(href="#").site-footer__menu-link Спец. предложения
				li.site-footer__menu-item
					a(href="#").site-footer__menu-link Правила проживания

			ul.site-footer__menu-list
				li.site-footer__menu-item
					a(href="#").site-footer__menu-link Описание отеля
				li.site-footer__menu-item
					a(href="#").site-footer__menu-link Фотогалерея
				li.site-footer__menu-item
					a(href="#").site-footer__menu-link Контакты

		.site-footer__contacts
			.site-footer__contact-links
				a.site-footer__contact-link.site-footer__contact-link--tel +7 (902) 63 000 66
				a.site-footer__contact-link.site-footer__contact-link--tel +7 (342) 420-20-90
				a.site-footer__contact-link.site-footer__contact-link--email aelita-hotel@ya.ru

			.site-footer__social
				a(href="#").site-footer__social-item.site-footer__social-item--bk bk
				a(href="#").site-footer__social-item.site-footer__social-item--ta ta
				a(href="#").site-footer__social-item.site-footer__social-item--vk vk
				a(href="#").site-footer__social-item.site-footer__social-item--fb fb

	.site-footer__bottom
		.site-footer__wrapper
			.site-footer__copyright
				p Отель «АЭЛИТА» г. Березники, ул. Пятилетки, 116а
				p © 2012 – 2018 г. Все права защищены.

			.site-footer__developed-by
				p
					|Разработка сайта 
					a(href="#") PROSTOR design