section.slider
	.slider__item.slider__item--1
		.slider__wrapper
			b.slider__item-title.
				Единственный <br> 
				апарт-отель в городе
			p.slider__item-content.
				Номера квартирного типа, оборудованные кухней.

	.slider__controls
		.slider__controls-wrapper
			button(type="button").slider__controls-item.slider__controls-item--active
			button(type="button").slider__controls-item
			button(type="button").slider__controls-item